body{

    background-image: url("../img/fondo\ karting.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu{
    background-color: white;
    border: 7px gray solid;

}

#video{
    margin:auto;
    display: block;
}

footer{
    position: fixed;
}

.video-responsive {
    overflow:hidden;
    padding-bottom:400px;
    position:relative;
    height:0;
}

.column-item {
    margin-bottom: 30px;
}